<!DOCTYPE html>


{% extends 'rango/base.html' %}
{% load static %}
<html>
<h1>Rango Says...</h1>
<div>
hey there partner!<br/>
<strong>{{ boldmessage }}</strong><br/>
</div>
    
{% block body_block %}
    <h2>Most viewed categories</h2>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
            </li>
            {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    <h2>Most viewed pages</h2>
    {%if pages %}
    <ul>
    {%for page in pages %}
        <li>
            <a href="{{page.url}}">{{page.title}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no pages present</strong>
    {% endif %}
    
<img src="{% static 'images/rango.jpeg'%}" alt = "picture of rango"/>
<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
{% endblock %}
</html>